body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141E30, #243B55);
  color: white;
  text-align: center;
}
header { padding: 20px; font-size: 26px; }
.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
}
.card {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px black;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #00c6ff;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}
